#!/bin/bash

set -eo pipefail

export GIT_SSH_COMMAND='ssh -o "UserKnownHostsFile=/dev/null" -o "StrictHostKeyChecking=no"'
export BUILDKITE_CLEAN_CHECKOUT=true

eval `ssh-agent`
ssh-add ~/.ssh/id_rsa
